*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}
body{
	background-color: #FEFEFE;
	font-family: 'Open Sans', sans-serif;

}
.container{
	width: 1240px;
	margin:0 auto;


}
.nav{
	padding: 20px 0;

}
.nav>.container{
	display: flex;
	justify-content: space-between;
	align-items: center;


}
.nav__list{
	  display: flex;
	  align-items: center;

}
.nav__item{
	margin-left: 20px;

}
.nav__item a{
  text-decoration: none;
  color:rgba(0,0,0,0.5); 
}
.nav__link__login ,.nav__link__signup{
    text-decoration: none;
     color:rgba(0,0,0,0.5);
    
    margin-left: 50px;
}
.nav__link__signup,.find__section__btn{
	background-color: blue;
	padding: 10px 20px;
	border-radius: 7px;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	border:none;
}
.find>.container{
	
}
.find__photo{
	width: 100%;
	height: 800px;
	background-image:url("../img/jonibek.png");
    background-size: cover;
    border-radius: 30px;
    border:3px solid #ECF0FB;
}
.find__subtext{
	width: 50%;
	padding:200px 70px;
	justify-content: center;
	align-items: center;

}
.find__title{
	font-size: 50px;
	color: #fff;
	line-height: 1.3;
}
.find__text{
	padding-top: 30px;
	color: #fff;
	line-height: 1.5;
	font-size: 18px;
	padding-bottom: 30px;

}
.find__form
{
  border-radius: 10px;
  display: flex;
  width: 100%;

}
::placeholder{
	font-size: 20px;
}
input[type=text]{
font-size: 25px;
color: #000;
}
.form__input
{
width: 100%;
border:none;
padding: 20px 20px;
border-radius: 10px 0 0 10px;
color: rgba(0,0,0,0.4);
}
.form__btn
{
	border-radius: 0 10px 10px 0;
     padding: 15px 30px;
	border:none;
	background-color:#0b7dda;
	color: #fff;
	font-size: 20px;

}
.find__icons{
width: 100%;
padding: 50px 0;
display: flex;
justify-content: space-between;
}
.find__icons__number{
	width: 25%;
	display: flex;
	align-items: center;


}
.find__icons__text{
	font-size: 50px;
	padding-left: 25px;

}
.find__icons__span{
	color: rgba(0,0,0,0.5);
	font-size: 30px;
	padding-top: 5px;
}
.find__icons__photo{
	width: 140px;
	height: 110px;
	background-color: #fff;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	box-shadow: 10px 5px 8px #fff7af,-10px 5px 8px #fff7af;
	

padding: 20px 33px;
}
.find__icons__photo img{
width: 40px;
height: 60px;
justify-content: center;
align-items: center;
text-align: center;

	
	
}
.our__header{
	padding: 50px 0;
	display: flex;
	justify-content: space-between;

}
.our__header__title{
padding: 20px 0;
	font-size: 40px;
	color: rgba(0,0,0,0.7);
}
.our__header__line,
.find__section__line{
 
    border-radius: 10px;
	width: 120px;
	height: 5px;
	background-color: #728EF2;
}
.our__header__btn{
	padding: 20px 30px;
	background-color: #fff;
	border-radius: 10px;
	border:none;
	border:2px solid #C9D2F4;
	color: #728EF2;
}
.our__body{

	padding: 30px 0;
  width: 100%;
  display: flex;
   justify-content: space-between;
}
.our__cost{
	position: absolute;
	width: 50px;
	height: 40px;
	background-color:#0b7dda;
	border-radius: 15px;
	z-index: 20;
	top: 50%;
	right: 10%;

}
.our__cost__text{
	padding: 10px;
	color: #fff;
	font-size: 18px;
	padding: 10px;
	text-align: center;
}

.our__body__box{
  position: relative;
   width: 30%;
   background-color: #fff;
   border-radius: 20px;
   
   box-shadow: 0 0 20px   rgba(0,0,0,0.1);


}
.our__box__subtext{
	padding: 30px 20px;
}
.our__box__photo{
width: 100%;
}
.our__box__photo img{
	width: 100%;
}
.our__box__title{
	
	color: rgba(0,0,0,0.5);
	font-size: 25px;

}
.our__body__text{
	padding: 30px 20px;
	
}
.our__box__footer{
padding: 30px 20px;
display: flex;
justify-content: space-around;
border-top: 2px solid rgba(0,0,0,0.3);
}
.our__box__footer__icon{
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: space-around;

}
.our__box__footer__icon p{
	color: rgba(0,0,0,0.6);
	font-size: 15px;
	padding-left: 10px;
}


.find__section{
	padding: 40px 0;
	background-color: #ECF0FB;
}
.find__section> .container{
	display: flex;
	justify-content: space-between;
}
.find__section__subtext{
	padding-top: 70px;
   width: 40%;
}
.find__section__title{
	font-size: 40px;
	color: rgba(0,0,0,0.6);


}
.find__section__line{
	
}
.find__section__text{
	padding: 40px 0;
	color: rgba(0,0,0,0.6);
	line-height: 1.5;
	font-size: 20px; 
}
.find__section__btn{
	background-color: 
}

.students{

}
.students>.container{
	padding: 100px 0;
	display: flex;
	justify-content: space-between;
}
.students__photo{
	position: relative;
	width: 40%;
}
.students__subtext{
	padding-top: 50px;
	width: 40%;
	
}
.students__title{
	padding: 20px 0;
	font-size: 50px;

}
.students__subtext__photo{
	
	padding-top: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.students__photo__box{
	display: block;
	position: absolute;
	border:5px solid #ECF0FA;
	width: 40px;
	height: 100px;
	z-index: 10;
	top: -7%;
	left: 40%;

}
.students__subtext__title{
font-size: 50px;   
padding: 40px 0;
color: rgba(0,0,0,0.6);


}
.students__subtext__photo__text{

}
.students__subtext__profel{
	padding: 40px 0;


}
.students__subtext__profel__img{
	display: flex;
	align-items: center;
}
.students__subtext__profel__name{
	  padding-left: 30px;
}
.students__subtext__profel__name h2{
	font-size: 20px;
	color: rgba(0,0,0,0.5);
}
.students__subtext__profel__name p{
	color: rgba(0,0,0,0.4);
}
.students__subtext__profel__text{
	padding-top: 40px;
	line-height: 1.8;
	color: rgba(0,0,0,0.7);
}
.students__subtext__icons{
	display: flex;
	justify-content: flex-end;

  
}
.students__subtext__icons button{
	border:none;
	background-color: #fff;


}
.students__subtext__icons img{
	padding: 20px;
}
.students__subtext__icons img:hover{
background-color: #ECF0FB;
padding: 20px;
}

.ourLatest{
	padding-top: 100px;
	background-color: #ECF0FB;
}
.ourLatest__header{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.ourLatest__icons{
	display: flex;
	align-items: center;

}
.ourLatest__icons button{
	background-color: #ECF0FB;
}
.ourLatest__icons img:hover{
	background-color: #C9D7FE;
}
.ourLatest__body{
	padding: 100px 0;
	display: flex;
	width: 100%;
	justify-content: space-between;

}
.ourLatest__body__box{
	background-color: #FFFFFF;
	width: 31%;
	padding-bottom: 30px;
	border-radius: 15px;
	box-shadow: 0 10px 10px #D9DFEE;
}

.ourLatest__body__img{
	width: 100%;
}


.ourLatest__body__data{
	display: flex;
	padding: 30px;
}
.ourLatest__body__item{
    font-size: 17px;
	color: rgba(0,0,0,0.6);
	letter-spacing: 2;
}
.ourLatest__body__box__title{
	padding:0 20px;
	color: rgba(0,0,0,0.6);
	font-size: 21px;
	padding-bottom: 20px;

}
.ourLatest__body__box__link{

	color:#7291B4;
	font-style: 18px;
	margin-left: 20px; 
	
	
}
.ourLatest__body__box__link:hover{
	color: blue;
}
.subscribe{
	background-color: #fff;

}
.subscribe>.container{
	margin: 0 auto;

}
.subscribe__subtext{
	text-align: center;
	padding: 100px 0;

}
.subscribe__title{
   color: rgba(0,0,0,0.6);
   font-size: 40px;
 /*  padding: 20px 0;*/

}
.subscribe__subtext{
	width: 100%;
	margin: 0 auto;
	left: 300px;
}
.subscribe__subtext__text{
	padding: 30px 0;
	margin: 0 auto;
	width: 60%;
	line-height: 1.8;
	color: rgba(0,0,0,0.6);

}
.subscribe__form{
	padding: 30px 0;
  justify-content: center;
  display: flex;
  width: 100%;

  

 

}
.subscribe__form__input{
 width: 35%;
border:none;
padding: 20px 20px;
border-radius: 10px 0 0 10px;
color: rgba(0,0,0,0.4);
  box-shadow: 0 5px 10px #D9DFdE;
}
.subscribe__form__btn{
	
	border-radius: 0 10px 10px 0;
     padding: 15px 30px;
	border:none;
	background-color:#0b7dda;
	color: #fff;
	font-size: 20px; 
}
.subscribe__form__btn:hover{
	background-color:#000;

}
input[type=email]{
font-size: 25px;
color: #000;
}


	